@font-face {
    font-family: myFont;
    src: url(../fonts/Kollektif.ttf);
  }

body{
    font-family: myFont;
    background-image: url("assets/images/background.png")
}

#container{
    max-width: 960px;
    margin: 0 auto;
}

#links{
    margin-top: 20px;
    float:right
}

#banner{
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    clear: both;
}

.icon{
    width: 50px;
    float: right;
    padding: 10px;

}

.icon:hover{
    box-shadow: 2px 2px;
}

h1{
    margin-bottom: 30px;
}

p{
    font-size: 18px;
}

#mattrubbelke-pic{
    float: left;
    width: 200px;
    padding-right: 30px;
    border-radius: 50px
}

#projects-title{
    margin: 0px auto;
    width: 500px;
    clear: both;
}

#projects-holder{
    clear: both;
    margin-top: -40px;
    margin: 0 auto; 
}

.project{
    
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.project-image{
    width: 250px;
}

.descript{
    text-align: center;
    font-size: 26px;
}

#button-holder{
    margin-top: 30px;
    margin-bottom: 100px;
}

#button-holder{
    margin: 0 auto;
    
}

#contact{
    float: right;
    margin: 10px;
}

@media only screen and (max-width: 700px) {

    #container{
        max-width: 540px;
        margin: 0 auto;
    }

    #projects-holder{
        clear: both;
        margin-top: 0 auto; 
    }

    .project{
        width: 100%;
        margin: 0 auto;
    }
    
}